.num{
    padding: 10px;
    text-align: center;
    border-radius: 20px ;
}
.num:hover{

    background-color: darkgoldenrod;
}
h1{
    color: rgb(0, 255, 200);
}
.fact{
    background-color: rgb(102, 4, 4);
    width: 50%;
    margin:80px auto;
    height: 250px;
}
.span{
    font-size: 2em;
}
.btn{
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 15px;    
    border: none;
}
.btn:hover{
    background-color: rgb(50, 86, 205);
    color: white;
    
}
.tex{
    text-align: center;
}
